@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
.headingOne {
  color: #222222;
  font-size: 3rem;
  letter-spacing: -1px;
  margin-bottom: 20px;
}

.headingTwo {
  color: #222222;
  font-size: 2.9rem;
}

.headingThree {
  color: #222222;
  font-size: 1.85rem;
}

.paragraph {
  font-size: 1.7rem;
}

.smallParagraph {
  font-size: 1.2rem;
}

.spanGreenColor {
  color: #25c24f;
}

.spanFontWeight {
  font-weight: 600;
}

.link {
  background: #25c24f;
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.link:hover {
  background: #222222;
}

@media screen and (min-width: 760px) {
  .headingOne {
    font-size: 4rem;
  }
  .headingTwo {
    font-size: 3rem;
  }
  .headingThree {
    font-size: 1.95rem;
  }
  .paragraph {
    font-size: 1.75rem;
  }
  .smallParagraph {
    font-size: 1.55rem;
  }
}

@media screen and (min-width: 1000px) {
  .headingOne {
    font-size: 5.6rem;
  }
  .headingTwo {
    font-size: 3.8rem;
  }
  .paragraph {
    font-size: 1.85rem;
  }
  .smallParagraph {
    font-size: 1.60rem;
  }
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: 'Quicksand', sans-serif;
}

.navigation {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
}

.navigation__secoundArticle {
  display: none;
}

.navigationMobile {
  position: fixed;
  top: 0;
  width: 80vw;
  height: 100vh;
  background-color: white;
  -webkit-transform: translateX(90vw);
          transform: translateX(90vw);
  -webkit-box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.5);
          box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.5);
  margin-left: 10vw;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  z-index: 1000;
}

.navigationMobile__firstArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

.navigationMobile__button {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 30px;
  background-color: #25c24f;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  z-index: 1000;
}

.navigationMobile__link {
  font-weight: 600;
  text-decoration: none;
  color: #222222;
  padding: 20px;
  margin: 0 15px;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.navigationMobileActive {
  -webkit-transform: translateX(10vw);
          transform: translateX(10vw);
}

.navigationMobileButtonActive {
  -webkit-transform: translateX(-78vw);
          transform: translateX(-78vw);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 20px 50px;
}

.header__firstArticle, .header__secoundArticle {
  width: 100%;
  margin-top: 50px;
}

.header__image {
  width: 100%;
}

.header__paragraphTop {
  color: #9c9c9c;
}

.header__linkBox {
  margin-top: 30px;
}

.changes {
  margin: 50px 20px;
}

.changes__firstArticle, .changes__SecoundArticle {
  width: 100%;
}

.changes__image {
  width: 100%;
}

.changes__headingTwo {
  margin-top: 40px;
}

.changes__paragraph {
  margin-top: 20px;
}

.changes__span {
  padding-right: 10px;
}

@media screen and (min-width: 760px) {
  .navigation {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navigation__secoundArticle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation__link {
    font-weight: 600;
    text-decoration: none;
    color: #222222;
    margin: 0 15px;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
  }
  .navigation__link:hover {
    color: #25c24f;
  }
  .navigationMobile {
    display: none;
  }
  .navigationMobile__button {
    display: none;
  }
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__paragraph {
    padding-right: 40px;
  }
  .changes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .changes__firstArticle {
    width: 50%;
    padding-right: 30px;
  }
  .changes__secoundArticle {
    width: 50%;
  }
  .changes__headingTwo {
    margin-top: 0px;
  }
}

@media screen and (min-width: 1000px) {
  .navigation {
    width: 90vw;
    max-width: 1300px;
    margin: 0px auto;
    padding: 0px 0px;
  }
  .header {
    width: 90vw;
    max-width: 1300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin: 0px auto;
  }
  .header__firstArticle {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding-right: 5rem;
    margin: 0px;
  }
  .header__secoundArticle {
    width: 60%;
    margin-top: 50px;
  }
  .header__paragraph {
    width: 85%;
  }
  .changes {
    width: 90vw;
    max-width: 1300px;
    margin: 100px auto;
  }
  .changes__firstArticle {
    position: relative;
    width: 50%;
    padding-right: 0px;
  }
  .changes__secoundArticle {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 50px;
  }
  .changes__firstArticle::after {
    content: "";
    position: absolute;
    top: -5%;
    left: -5%;
    width: 80%;
    height: 90%;
    background-color: rgba(37, 194, 79, 0.1);
    z-index: -1;
  }
}
/*# sourceMappingURL=fotowoltaika.css.map */