@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
.headingOne {
  color: #222222;
  font-size: 3rem;
  letter-spacing: -1px;
  margin-bottom: 20px;
}

.headingTwo {
  color: #222222;
  font-size: 2.9rem;
}

.headingThree {
  color: #222222;
  font-size: 1.85rem;
}

.paragraph {
  font-size: 1.7rem;
}

.smallParagraph {
  font-size: 1.2rem;
}

.spanGreenColor {
  color: #25c24f;
}

.spanFontWeight {
  font-weight: 600;
}

@media screen and (min-width: 760px) {
  .headingOne {
    font-size: 4rem;
  }
  .headingTwo {
    font-size: 3rem;
  }
  .headingThree {
    font-size: 1.95rem;
  }
  .paragraph {
    font-size: 1.75rem;
  }
  .smallParagraph {
    font-size: 1.55rem;
  }
}

@media screen and (min-width: 1000px) {
  .headingOne {
    font-size: 5.6rem;
  }
  .headingTwo {
    font-size: 3.8rem;
  }
  .paragraph {
    font-size: 1.85rem;
  }
  .smallParagraph {
    font-size: 1.60rem;
  }
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: 'Quicksand', sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 20px 50px;
}

.header__firstArticle, .header__secoundArticle {
  width: 100%;
  margin-top: 50px;
}

.header__sliderClipBox {
  position: relative;
  width: 100%;
  height: 400px;
}

.header__sliderClipBox:hover .header__clip {
  -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
          clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.header__sliderClipBox .header__clip:hover {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  -webkit-transition: -webkit-clip-path 0.5s;
  transition: -webkit-clip-path 0.5s;
  transition: clip-path 0.5s;
  transition: clip-path 0.5s, -webkit-clip-path 0.5s;
}

.header__clip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-clip-path 0.5s;
  transition: -webkit-clip-path 0.5s;
  transition: clip-path 0.5s;
  transition: clip-path 0.5s, -webkit-clip-path 0.5s;
}

.header__clip--1 {
  background: url("../image/samochody-elektryczne-inowroclaw-m.webp");
  background-size: cover;
  background-position-x: -100px;
  -webkit-clip-path: polygon(0 0, 55% 0, 20% 100%, 0% 100%);
          clip-path: polygon(0 0, 55% 0, 20% 100%, 0% 100%);
}

.header__clip--2 {
  background: url("../image/panele-fotowoltaiczne-inowroclaw-m.webp");
  background-size: cover;
  -webkit-clip-path: polygon(55% 0, 100% 0, 45% 100%, 20% 100%);
          clip-path: polygon(55% 0, 100% 0, 45% 100%, 20% 100%);
}

.header__clip--3 {
  background: url("../image/pompy-ciepla-inowroclaw-m.webp");
  background-size: cover;
  background-position-x: -150px;
  -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 45% 100%);
          clip-path: polygon(100% 0, 100% 0, 100% 100%, 45% 100%);
}

.header__clipContent {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 70%;
  background: rgba(255, 255, 255, 0.918);
  border-top-right-radius: 5px;
  opacity: 0;
  padding: 20px;
  -webkit-transition: bottom 0.5s, opacity 0.5s;
  transition: bottom 0.5s, opacity 0.5s;
}

.header__clip:hover .header__clipContent {
  bottom: 0%;
  opacity: 1;
}

.header__subItemsBox {
  margin-top: 20px;
  margin-left: 20px;
}

.header__headinThree {
  color: #25c24f;
  margin-bottom: 10px;
}

.header__paragraphTop {
  color: #9c9c9c;
}

.header__paragraphNumber {
  color: #25c24f;
  font-weight: bold;
}

.header__paragraphSubItem {
  font-weight: 600;
  margin: 20px 0px;
}

.header__paragraphNumber {
  font-weight: 600;
}

.team {
  margin: 50px 20px;
}

.team__firstArticle, .team__SecoundArticle {
  width: 100%;
}

.team__image {
  width: 100%;
}

.team__partnersBox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 40px 0px 0px 0px;
}

.team__accordion {
  font-size: 1.8rem;
}

.team__contentBox {
  position: relative;
  margin: 20px 0px;
}

.team__contentBoxHeader {
  position: relative;
  font-weight: 600;
  padding: 10px 0px;
  cursor: pointer;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.team__contentBoxHeader:hover {
  color: #25c24f;
}

.team__answerBox {
  position: relative;
  height: 0;
  overflow: hidden;
  overflow-y: hidden;
  -webkit-transition: height 0.5s, padding 0.5s;
  transition: height 0.5s, padding 0.5s;
}

.team__contentBox.teamActiveBox .team__answerBox {
  height: 120px;
  padding: 10px 0px 10px 30px;
}

.team__headingTwo {
  margin-top: 40px;
}

.team__span {
  padding-right: 10px;
}

.service {
  margin: 50px 20px;
}

.service__secoundArticle {
  width: 100%;
  margin: 50px 0px;
}

.service__informationBox {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  color: white;
  background-color: rgba(34, 34, 34, 0.9);
  padding: 30px 20px;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.service__firstImageBox {
  position: relative;
  width: 100%;
  height: 70vh;
  border-radius: 5px;
  background-image: url("../image/panele-fotowoltaiczne-inowroclaw-koszty.webp");
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
}

.service__firstImageBox:hover .service__informationBox {
  opacity: 1;
}

.service__secoundImageBox {
  position: relative;
  width: 100%;
  height: 70vh;
  border-radius: 5px;
  background-image: url("../image/samochod-elektryczny-zoe.webp");
  background-position: center;
  background-size: cover;
}

.service__secoundImageBox:hover .service__informationBox {
  opacity: 1;
}

.service__unorderList {
  list-style-type: none;
  margin: 20px 0px 0px 0px;
}

.service__listElement {
  font-weight: 600;
  margin: 20px 0px;
}

.service__headingTwo {
  margin-bottom: 20px;
}

.service__spanGreenColor {
  padding-right: 10px;
}

.service__link {
  color: white;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.service__link:hover {
  color: #25c24f;
}

.features {
  margin: 50px 20px;
}

.features__secoundArticle {
  margin-top: 50px;
}

.features__box {
  text-align: center;
  margin: 40px 0px;
}

.features__dots {
  font-size: 50px;
  color: #25c24f;
}

.features__button {
  display: inline-block;
  margin-top: 20px;
}

.features__headingTwo {
  position: relative;
  margin-bottom: 40px;
}

.features__headingTwo::before {
  position: absolute;
  content: ". . . . .";
  top: 90%;
  font-size: 40px;
  color: #25c24f;
}

.features__headingThree {
  margin: 10px 0px;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.features__headingThree:hover {
  color: #25c24f;
}

.features__link {
  text-decoration: none;
}

.featuresSecound {
  margin: 50px 20px;
}

.featuresSecound__firstArticle {
  width: 100%;
  margin-bottom: 40px;
}

.featuresSecound__image {
  width: 100%;
}

.featuresSecound__headingTwo {
  margin-bottom: 40px;
}

.testimonials {
  margin: 50px 20px;
}

.testimonials__wrapper {
  overflow: hidden;
}

.testimonials__secoundArticle {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.testimonials__box {
  width: 85%;
  min-width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1);
          box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1);
  padding: 50px 20px 20px 20px;
  margin-right: 2%;
  margin-left: 2%;
}

.testimonials__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0rem 20px 50px;
  overflow-x: auto;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: mandatory;
      scroll-snap-type: mandatory;
  -ms-scroll-snap-points-x: repeat(300px);
      scroll-snap-points-x: repeat(300px);
  -webkit-overflow-scrolling: touch;
}

.testimonials__iconBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  color: #25c24f;
}

.testimonials__textBox {
  width: 90%;
  color: #9c9c9c;
}

.testimonials__headingTwo {
  margin-bottom: 40px;
}

.testimonials__paragraphIcon {
  font-size: 5rem;
}

.testimonials__paragraphName {
  font-weight: 600;
  margin: 10px 0px 5px;
  color: black;
}

.testimonials__paragraph {
  font-size: 1.4rem;
}

@media screen and (min-width: 760px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__subItemsBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header__subItemsElement {
    width: 33.33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__sliderClipBox {
    height: 100%;
  }
  .header__clip--1 {
    background: url("../image/samochody-elektryczne-inowroclaw.webp");
    background-size: cover;
    background-position-x: -100px;
    -webkit-clip-path: polygon(0 0, 55% 0, 20% 100%, 0% 100%);
            clip-path: polygon(0 0, 55% 0, 20% 100%, 0% 100%);
  }
  .header__clip--2 {
    background: url("../image/panele-fotowoltaiczne-inowroclaw.webp");
    background-size: cover;
    -webkit-clip-path: polygon(55% 0, 100% 0, 45% 100%, 20% 100%);
            clip-path: polygon(55% 0, 100% 0, 45% 100%, 20% 100%);
  }
  .header__clip--3 {
    background: url("../image/pompy-ciepla-inowroclaw.webp");
    background-size: cover;
    background-position-x: -150px;
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 45% 100%);
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 45% 100%);
  }
  .header__paragraphSubItem {
    font-size: 1.4rem;
    margin: 0px 10px 0px 0px;
  }
  .header__paragraph {
    padding-right: 40px;
  }
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .team__firstArticle {
    width: 50%;
    padding-right: 30px;
  }
  .team__secoundArticle {
    width: 50%;
  }
  .team__partnersBox {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .team__imageLogoBrand {
    margin: 0px 50px 0px 0px;
  }
  .team__contentBox.teamActiveBox .team__answerBox {
    height: 105px;
  }
  .team__headingTwo {
    margin-top: 0px;
  }
  .service__secoundArticle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .service__firstImageBox, .service__secoundImageBox {
    width: 48%;
    height: 40vh;
  }
  .features__secoundArticle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 20px;
  }
  .features__box {
    width: 50%;
    text-align: left;
    padding-right: 40px;
  }
  .features__headingTwo::before {
    top: 77.5%;
  }
  .featuresSecound__firstArticle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .featuresSecound__image {
    width: 50%;
  }
  .featuresSecound__headingTwo {
    margin-bottom: 20px;
  }
  .testimonials {
    margin: 50px 0px;
  }
  .testimonials__box {
    width: 48.75%;
    min-width: 48.75%;
    margin-right: 2.5%;
    margin-left: 0%;
  }
  .testimonials__headingTwo {
    margin: 40px 20px;
  }
}

@media screen and (min-width: 1000px) {
  .header {
    width: 90vw;
    max-width: 1300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin: 0px auto;
  }
  .header__firstArticle {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding-right: 5rem;
    margin: 0px;
  }
  .header__secoundArticle {
    width: 60%;
    margin-top: 50px;
  }
  .header__sliderClipBox {
    height: 600px;
  }
  .header__clip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-clip-path 0.5s;
    transition: -webkit-clip-path 0.5s;
    transition: clip-path 0.5s;
    transition: clip-path 0.5s, -webkit-clip-path 0.5s;
  }
  .header__clip--1 {
    background: url("../image/samochody-elektryczne-inowroclaw.webp");
    background-size: none;
    background-position-x: -100px;
    background-position-y: -50px;
  }
  .header__clip--2 {
    background: url("../image/panele-fotowoltaiczne-inowroclaw.webp");
    background-size: cover;
  }
  .header__clip--3 {
    background: url("../image/pompy-ciepla-inowroclaw.webp");
    background-size: cover;
  }
  .header__paragraph {
    width: 85%;
  }
  .header__paragraphNumber {
    font-size: 1.7rem;
  }
  .header__paragraphSubItem {
    font-size: 1.7rem;
    margin-top: 10px;
  }
  .team {
    width: 90vw;
    max-width: 1300px;
    margin: 100px auto;
  }
  .team__firstArticle {
    position: relative;
    width: 50%;
    padding-right: 0px;
  }
  .team__secoundArticle {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 50px;
  }
  .team__firstArticle::after {
    content: "";
    position: absolute;
    top: -5%;
    left: -5%;
    width: 80%;
    height: 90%;
    background-color: rgba(37, 194, 79, 0.1);
    z-index: -1;
  }
  .team__contentBox.teamActiveBox .team__answerBox {
    height: 78px;
  }
  .service {
    width: 90vw;
    max-width: 1300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 100px auto;
  }
  .service__firstArticle {
    width: 40%;
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 5rem;
  }
  .service__secoundArticle {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px;
  }
  .service__firstImageBox, .service__secoundImageBox {
    height: 50vh;
  }
  .features {
    width: 90vw;
    max-width: 1300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 100px auto;
  }
  .features__firstArticle {
    width: 40%;
    padding-right: 50px;
  }
  .features__secoundArticle {
    width: 60%;
    margin-top: 0px;
    padding-left: 100px;
  }
  .features__box {
    width: 50%;
    height: 50%;
    margin: 0px 0px 20px;
  }
  .features__headingTwo::before {
    position: absolute;
    content: ". . . . .";
    top: 90%;
    font-size: 40px;
    color: #25c24f;
  }
  .featuresSecound {
    width: 90vw;
    max-width: 1300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 100px auto;
  }
  .featuresSecound__firstArticle {
    width: 40%;
    margin: 0 7% 0 0;
  }
  .featuresSecound__secoundArticle {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .featuresSecound__image {
    width: 70%;
  }
  .testimonials {
    width: 90vw;
    max-width: 1300px;
    margin: 100px auto;
  }
  .testimonials__secoundArticle {
    width: 100%;
  }
  .testimonials__box {
    width: 30.33%;
    min-width: 30.33%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    padding: 50px 20px;
  }
  .testimonials__headingTwo {
    margin: 40px 0px;
  }
}
/*# sourceMappingURL=main.css.map */