@media screen and ( min-width: 760px )
    .navigation
        justify-content: space-between
        
        &__secoundArticle
            display: flex

        &__link
            font-weight: 600
            text-decoration: none
            color: $black
            margin: 0 15px
            transition: color 0.5s

            &:hover
                color: $green

    .navigationMobile
        display: none

        &__button
            display: none

    .header
        flex-direction: row

        &__paragraph
            padding-right: 40px

    .changes
        display: flex
        flex-direction: row

        &__firstArticle
            width: 50%
            padding-right: 30px

        &__secoundArticle
            width: 50%

        &__headingTwo
            margin-top: 0px

    .product
        display: flex
        justify-content: center

        &__firstArticle
            width: 50%

        &__secoundArticle
            width: 50%

        &__image
            width: 80%

    .faq
        display: flex
        flex-direction: row

        &__firstArticle
            width: 50%
            padding-right: 30px
            display: block

        &__secoundArticle
            width: 50%

        &__headingTwo
            margin-top: 0px

    .contact
        height: 40vh
    
        &__button
            width: 40vw

    .calculator
        
        &__rowBox
            display: flex
            justify-content: space-between

        &__box
            width: 48%

        &__box--reverse
            display: flex
            flex-direction: row-reverse
            text-align: right
        
        &__iconBox--reverse
            padding-left: 30px
            padding-right: 0px
        
    .footer
        color: $white
        background-color: #3D3D3D
        padding: 50px 20px 5px
        
        &__firstArticle
            width: 100%
            display: flex

        &__secoundArticle
            text-align: center
            margin-top: 50px

        &__box
            width: 25%
            margin: 0px 10px

        &__paragraphMain
            font-weight: bold
            margin: 0px 0px

        &__paragraph
            font-size: 1.6rem
            font-weight: 300
            margin: 10px 00px

    .box-minmax
        margin-top: 30px
        width: 100%
        display: flex
        justify-content: space-between
        font-weight: bold
        color: $black
        span:first-child
            margin-left: 10px
    
    .rs-range 
        margin-top: 29px
        width: 600px
        -webkit-appearance: none
        &:focus 
            outline: none
    
    &::-webkit-slider-runnable-track 
        width: 100%
        height: 5px
        cursor: pointer
        box-shadow: none
        background: linear-gradient(80deg, transparent, $green)
        border-radius: 50px
        border: 0px solid #010101
    
    &::-moz-range-track 
        width: 100%
        height: 5px
        cursor: pointer
        box-shadow: none
        background: linear-gradient(80deg, transparent, $green)
        border-radius: 50px
        border: 0px solid #010101
    
  
    &::-webkit-slider-thumb 
        box-shadow: none
        border: 0px solid $green
        box-shadow: 0px 10px 10px rgba(0,0,0,0.25)
        height: 42px
        width: 22px
        border-radius: 22px
        background: $green
        cursor: pointer
        -webkit-appearance: none
        margin-top: -20px
    
    &::-moz-range-thumb
        box-shadow: none
        border: 0px solid $green
        box-shadow: 0px 10px 10px rgba(0,0,0,0.25)
        height: 42px
        width: 22px
        border-radius: 22px
        background: $green
        cursor: pointer
        -webkit-appearance: none
        margin-top: -20px
  
    &::-moz-focus-outer 
        border: 0
    

    .rs-label 
        
        position: relative
        transform-origin: center center
        display: block
        width: 98px
        height: 98px
        background: transparent
        border-radius: 50%
        line-height: 30px
        text-align: center
        font-weight: bold
        padding-top: 22px
        box-sizing: border-box
        border: 2px solid $green
        margin-top: 20px
        margin-left: -38px
        left: attr(value)
        color: $black
        font-style: normal
        font-weight: normal
        line-height: normal
        font-size: 36px
        &::after 
            content: "zł"
            display: block
            font-size: 20px
            letter-spacing: 0.07em
            margin-top: -2px