@media screen and ( min-width: 760px )
    .navigation
        justify-content: space-between
        
        &__secoundArticle
            display: flex

        &__link
            font-weight: 600
            text-decoration: none
            color: $black
            margin: 0 15px
            transition: color 0.5s

            &:hover
                color: $green

    .navigationMobile
        display: none

        &__button
            display: none

    .header
        flex-direction: row

        &__paragraph
            padding-right: 40px

    .changes
        display: flex
        flex-direction: row

        &__firstArticle
            width: 50%
            padding-right: 30px

        &__secoundArticle
            width: 50%

        &__headingTwo
            margin-top: 0px