@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import "./_topography"
@import "./_keyframes"

*,
::after,
::before
    margin: 0
    padding: 0
    box-sizing: border-box


html
    font-size: 62.5%
    scroll-behavior: smooth
    font-family: 'Quicksand', sans-serif

.backgroundImage
    display: none
    position: absolute
    opacity: 0.05
    z-index: -100

.navigation
    height: 80px
    display: flex
    align-content: center
    align-items: center
    padding: 0px 20px

    &__secoundArticle
        display: none

.navigationMobile
    position: fixed
    top: 0
    width: 80vw
    height: 100vh
    background-color: white
    transform: translateX(90vw)
    margin-left: 10vw
    transition: transform 0.5s
    z-index: 1000

    
    &__firstArticle,
    &__secoundArticle
        display: flex
        flex-direction: column
        margin-top: 10px

    &__secoundArticle
        margin-top: 50px
        
    &__button
        position: fixed
        top: 20px
        right: 20px
        width: 35px
        height: 35px
        display: flex
        justify-content: center
        align-content: center
        align-items: center
        color: $white
        font-size: 30px
        background-color: $green
        border-radius: 5px
        transition: transform 0.5s
        z-index: 1000
        display: flex
        flex-direction: column
        justify-content: center

    &__divLine
        width: 70%
        height: 2px
        background: $white
        border-radius: 5px

        &::after
            content: ""
            position: absolute
            width: 70%
            height: 2px
            border-radius: 5px
            background: $white
            transform: translateY(-6px)
            transition: transform 0.4s

        &::before
            content: ""
            position: absolute
            width: 70%
            height: 2px
            border-radius: 5px
            background: $white
            transform: translateY(6px)
            transition: transform 0.4s

    &__button.open .navigationMobile__divLine::before
        transform: rotate(45deg)

    &__button.open .navigationMobile__divLine::after
        transform: rotate(-45deg)

    &__button.open .navigationMobile__divLine
        background: transparent
  
    &__link
        font-weight: 600
        text-decoration: none
        color: $black
        padding: 20px
        margin: 0 15px
        transition: color 0.5s

    &__paragraphContact
        font-weight: 400
        text-decoration: none
        color: $black
        padding: 5px 15px
        margin: 0 15px

    &__linkContact
        font-weight: 600
        color: $green

.navigationMobileActive
    transform: translateX(10vw)
    box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.5)


.navigationMobileButtonActive
    transform: translateX(-78vw)

.header
    display: flex
    flex-direction: column
    margin: 0px 20px 50px

    &__firstArticle,
    &__secoundArticle
        width: 100%
        margin-top: 50px

    &__sliderClipBox
        position: relative
        width: 100%
        height: 400px

        &:hover .header__clip
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%)

    &__sliderClipBox .header__clip:hover
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)
        transition: clip-path 0.5s

    &__clip
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        transition: clip-path 0.5s

        &--1
            background: url("../image/samochody-elektryczne-inowroclaw-m.webp")
            background-size: cover
            background-position-x: -100px
            clip-path: polygon(0 0, 55% 0, 20% 100%, 0% 100%)

        &--2
            background: url("../image/panele-fotowoltaiczne-inowroclaw-m.webp")
            background-size: cover
            clip-path: polygon(55% 0, 100% 0, 45% 100%, 20% 100%)

        &--3
            background: url("../image/pompy-ciepla-inowroclaw-m.webp")
            background-size: cover
            background-position-x: -150px
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 45% 100%)

    &__clipContent
        position: absolute
        bottom: -100%
        left: 0
        width: 70%
        background: rgba(255, 255, 255, 0.918)
        border-top-right-radius: 5px
        opacity: 0
        padding: 20px
        transition: bottom 0.5s, opacity 0.5s

    &__clip:hover .header__clipContent
        bottom: 0%
        opacity: 1

    &__subItemsBox
        margin-top: 20px
        margin-left: 20px

    &__headinThree
        color: $green
        margin-bottom: 10px

    &__paragraphTop
        color: $gray

    &__paragraphNumber
        color: $green
        font-weight: bold

    &__paragraphSubItem
        font-weight: 600
        margin: 20px 0px

    &__paragraphNumber
        font-weight: 600

    &__linkBox
        margin-top: 30px


.changes
    margin: 50px 20px

    &__firstArticle,
    &__SecoundArticle
        width: 100%

    &__image
        width: 100%

    &__partnersBox
        width: 100%
        display: flex
        flex-direction: row
        justify-content: space-around
        margin: 40px 0px 0px 0px

    &__accordion
        font-size: 1.8rem

    &__contentBox
        position: relative
        margin: 20px 0px

    &__contentBoxHeader
        position: relative
        font-weight: 600
        padding: 10px 0px
        cursor: pointer
        transition: color 0.5s

        &:hover
            color: $green

    &__answerBox
        position: relative
        height: 0
        overflow: hidden
        overflow-y: hidden
        transition: height 0.5s, padding 0.5s

    &__contentBox.changesActiveBox .changes__answerBox
        height: 100%
        padding: 10px 0px 10px 30px

    &__headingTwo
        margin-top: 40px

    &__span
        padding-right: 10px

    &__contentBoxHeader
        display: flex
        flex-direction: row

.service
    margin: 50px 20px

    &__secoundArticle
        width: 100%
        margin: 50px 0px

    &__informationBox
        position: absolute
        bottom: 0
        width: 100%
        opacity: 0
        color: $white
        background-color: rgba(34, 34, 34, 0.9)
        padding: 30px 20px
        transition: opacity 0.5s

    &__firstImageBox
        position: relative
        width: 100%
        height: 70vh
        border-radius: 5px
        background-image: url("../image/panele-fotowoltaiczne-inowroclaw-koszty.webp")
        background-position: center
        background-size: cover
        margin-bottom: 20px

        &:hover .service__informationBox
            opacity: 1

    &__secoundImageBox
        position: relative
        width: 100%
        height: 70vh
        border-radius: 5px
        background-image: url("../image/samochod-elektryczny-zoe.webp")
        background-position: center
        background-size: cover

        &:hover .service__informationBox
            opacity: 1
    
    &__unorderList
        list-style-type: none
        margin: 20px 0px 0px 0px

    &__listElement
        font-weight: 600
        margin: 20px 0px

    &__headingTwo
        margin-bottom: 20px

    &__spanGreenColor
        padding-right: 10px

    &__link
        color: $white
        text-decoration: none
        transition: color 0.5s

        &:hover
            color: $green

.features
    margin: 50px 20px

    &__secoundArticle
        margin-top: 50px

    &__box
        text-align: center
        margin: 40px 0px

    &__linkBox
        margin-top: 30px

    &__dots
        font-size: 50px
        color: $green

    &__button
        display: inline-block
        margin-top: 20px

    &__headingTwo
        position: relative
        margin-bottom: 40px

    &__headingTwo::before
        position: absolute
        content: ". . . . ."
        top: 90%
        font-size: 40px
        color: $green

    &__headingThree
        margin: 10px 0px
        transition: color 0.5s

        &:hover
            color: $green

    &__link
        text-decoration: none

    
        
.featuresSecound
    margin: 50px 20px

    &__firstArticle
        width: 100%
        margin-bottom: 40px
        
    &__image
        width: 100%

    &__headingTwo
        margin-bottom: 40px

.gallery
    margin: 50px 20px

    &__secoundArticle
        display: grid
        grid-template-columns: repeat(10, 1fr)
        grid-row-gap: 20px
        grid-column-gap: 20px
        
    &__bigBox
        grid-column: 1 / 11
        
    &__smallBox--1
        grid-column: 1 / 6

    &__smallBox--2
        grid-column: 6 / 11

    &__smallBox--3
        grid-column: 1 / 6

    &__smallBox--4
        grid-column: 6 / 11

    &__image
        width: 100%
        border-radius: 10px

    &__headingTwo
        margin-bottom: 40px

.testimonials
    margin: 50px 20px

    &__wrapper
        overflow: hidden

    &__secoundArticle
        width: 100vw
        display: flex
        flex-wrap: nowrap

    &__box
        width: 85%
        min-width: 85%
        display: flex
        flex-direction: column
        justify-content: center
        align-content: center
        align-items: center
        flex-shrink: 0
        text-align: center
        border-radius: 5px
        box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1)
        padding: 50px 20px 20px 20px
        margin-right: 2%
        margin-left: 2%

    &__slider
        display: flex
        padding: 0rem 20px 50px
        overflow-x: auto
        scroll-behavior: smooth
        scroll-snap-type: mandatory
        scroll-snap-points-x: repeat(300px)
        -webkit-overflow-scrolling: touch

    &__iconBox
        display: flex
        width: 10%
        color: $green

    &__textBox
        width: 90%
        color: $gray

    &__headingTwo
        margin-bottom: 40px

    &__paragraphIcon
        font-size: 5rem

    &__paragraphName
        font-weight: 600
        margin: 10px 0px 5px
        color: black

    &__paragraph
        font-size: 1.4rem


.blog
    margin: 50px 20px 0px

    &__linkBox
        color: black
        text-decoration: none

        &:hover .blog__paragraphMain
            color: $green

    &__firstSection
        width: 100%

    &__largeImageBox
        position: relative
        width: 100%
        height: 500px
        display: flex
        flex-direction: column
        justify-content: center
        background-image: url("../image/kobieta-jezioro-gory.webp")
        background-position: center
        background-size: cover
        border-radius: 10px

    &__largeTextBox
        position: absolute
        padding: 0px 30px

    &__headingTwo
        margin: 40px 0px

        &--white
            color: $white

    &__link
        margin-top: 30px

    &__paragraph
        color: $white
        margin: 20px 0px

    &__link
        text-decoration: none

    &__linkBox
        margin-top: 30px

    &__paragraphMain
        margin: 10px 0px
        transition: color 0.5s

    &__container 
        margin: 0 auto
        width: 100%
        // height: 480px
        position: relative
        overflow: hidden

    &__slides 
        display: flex

    &__slide 
        min-width: 100%
        padding: 0px 0% 0px 0px
        position: relative

    &__image 
        width: 100%

    &__slide-controls 
        margin-top: 20px
        
    &__prev-btn,
    &__next-btn
        cursor: pointer
        background: transparent
        font-size: 30px
        border: 1px solid black
        // padding: 10px
        color: black

    &__slide-content 
        position: absolute
        top: 50%
        left: 50px
        transform: translateY(-50%)
        font-size: 60px
        color: black

    &__button
        cursor: pointer
        background: transparent
        font-size: 30px
        border: none
        padding-right: 10px
        color: black

        &:focus
            outline: none

    &__paragraphMain
        margin: 10px 0px
        font-size: 2rem
        font-weight: bold
        
.contact
    height: 50vh
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center
    align-items: center
    background-image: url("../image/contact-bg.webp")
    background-position: center
    background-size: cover

    &__input
        position: relative
        width: 70vw
        font-size: 1.5rem
        border: 1px solid $gray
        border-radius: 20px
        padding: 10px 20px
        box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1)
        margin: 40px 0px 20px
        outline: none

    &__input::-webkit-input-placeholder,
    &__input::placeholder
        font-family: 'Quicksand', sans-serif
        font-weight: 400
    
    &__button
        position: relative
        width: 70vw
        font-size: 1.8rem
        font-weight: bold
        color: $white
        border-radius: 20px
        border: 1px solid $green
        background-color: $green
        padding: 10px 20px
        box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1)
        cursor: pointer
        transition: background-color 0.5s, border 0.5s

        &:hover
            border: 1px solid $black
            background-color: $black

    &__headingTwo
        text-align: center
        margin: 0px 20px

.field-error
    border: 1px solid red !important

.field-accept
    border: 1px solid $green !important

.formContact
    display: flex
    flex-direction: column
    margin: 0px 0px 0px

    &__firstArticle
        margin: 50px 20px

    &__dataContactBox
        display: flex
        margin: 20px 0px

    &__secoundArticle
        width: 100vw
        padding: 50px 20px
        background-color: rgba(37, 194, 79, 0.1)

    &__form
        width: 90%
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        font-weight: 300
        margin: 0 auto

    &__input
        width: 100%
        font-size: 1.5rem
        font-weight: 300
        border: none
        border-bottom: 1px solid $gray
        background-color: transparent
        padding: 5px 0px
        margin: 20px auto
        outline: none

    &__input:focus
        border-bottom: 2px solid $gray

    &__input::-webkit-input-placeholder,
    &__input::placeholder
        font-family: 'Quicksand', sans-serif
        font-weight: 400

    &__paragraphMain
        margin: 20px 0px 40px

    &__paragraphData
        line-height: 40px
        text-align: center

    &__icon
        padding-right: 20px

    &__link
        color: black
        text-decoration: none
        transition: color 0.5s

        &:hover
            color: $green

    &__button
        border: none
        cursor: pointer

.footer
    color: $white
    background-color: #3D3D3D
    padding: 50px 20px

    &__secoundArticle
        text-align: center
        margin-top: 50px

    &__box
        margin: 20px 0px

    &__paragraphMain
        font-weight: bold
        margin: 20px 0px

    &__paragraph
        font-size: 1.6rem
        font-weight: 300
        margin: 10px 10px

    &__link
        color: $white
        text-decoration: none
        transition: color 0.5s

        &:hover
            color: $green


@import "./_medium"
@import "./_large"
