@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import "./_topography"

*,
::after,
::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%
    scroll-behavior: smooth
    font-family: 'Quicksand', sans-serif

.header
    display: flex
    flex-direction: column
    margin: 0px 20px 50px

    &__firstArticle,
    &__secoundArticle
        width: 100%
        margin-top: 50px

    &__sliderClipBox
        position: relative
        width: 100%
        height: 400px

        &:hover .header__clip
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%)

    &__sliderClipBox .header__clip:hover
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)
        transition: clip-path 0.5s

    &__clip
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        transition: clip-path 0.5s

        &--1
            background: url("../image/samochody-elektryczne-inowroclaw-m.webp")
            background-size: cover
            background-position-x: -100px
            clip-path: polygon(0 0, 55% 0, 20% 100%, 0% 100%)

        &--2
            background: url("../image/panele-fotowoltaiczne-inowroclaw-m.webp")
            background-size: cover
            clip-path: polygon(55% 0, 100% 0, 45% 100%, 20% 100%)

        &--3
            background: url("../image/pompy-ciepla-inowroclaw-m.webp")
            background-size: cover
            background-position-x: -150px
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 45% 100%)

    &__clipContent
        position: absolute
        bottom: -100%
        left: 0
        width: 70%
        background: rgba(255, 255, 255, 0.918)
        border-top-right-radius: 5px
        opacity: 0
        padding: 20px
        transition: bottom 0.5s, opacity 0.5s

    &__clip:hover .header__clipContent
        bottom: 0%
        opacity: 1

    &__subItemsBox
        margin-top: 20px
        margin-left: 20px

    &__headinThree
        color: $green
        margin-bottom: 10px

    &__paragraphTop
        color: $gray

    &__paragraphNumber
        color: $green
        font-weight: bold

    &__paragraphSubItem
        font-weight: 600
        margin: 20px 0px

    &__paragraphNumber
        font-weight: 600

.team
    margin: 50px 20px

    &__firstArticle,
    &__SecoundArticle
        width: 100%

    &__image
        width: 100%

    &__partnersBox
        width: 100%
        display: flex
        flex-direction: row
        justify-content: space-around
        margin: 40px 0px 0px 0px

    &__accordion
        font-size: 1.8rem

    &__contentBox
        position: relative
        margin: 20px 0px

    &__contentBoxHeader
        position: relative
        font-weight: 600
        padding: 10px 0px
        cursor: pointer
        transition: color 0.5s

        &:hover
            color: $green

    &__answerBox
        position: relative
        height: 0
        overflow: hidden
        overflow-y: hidden
        transition: height 0.5s, padding 0.5s

    &__contentBox.teamActiveBox .team__answerBox
        height: 120px
        padding: 10px 0px 10px 30px

    &__headingTwo
        margin-top: 40px

    &__span
        padding-right: 10px

.service
    margin: 50px 20px

    &__secoundArticle
        width: 100%
        margin: 50px 0px

    &__informationBox
        position: absolute
        bottom: 0
        width: 100%
        opacity: 0
        color: $white
        background-color: rgba(34, 34, 34, 0.9)
        padding: 30px 20px
        transition: opacity 0.5s

    &__firstImageBox
        position: relative
        width: 100%
        height: 70vh
        border-radius: 5px
        background-image: url("../image/panele-fotowoltaiczne-inowroclaw-koszty.webp")
        background-position: center
        background-size: cover
        margin-bottom: 20px

        &:hover .service__informationBox
            opacity: 1

    &__secoundImageBox
        position: relative
        width: 100%
        height: 70vh
        border-radius: 5px
        background-image: url("../image/samochod-elektryczny-zoe.webp")
        background-position: center
        background-size: cover

        &:hover .service__informationBox
            opacity: 1
    
    &__unorderList
        list-style-type: none
        margin: 20px 0px 0px 0px

    &__listElement
        font-weight: 600
        margin: 20px 0px

    &__headingTwo
        margin-bottom: 20px

    &__spanGreenColor
        padding-right: 10px

    &__link
        color: $white
        text-decoration: none
        transition: color 0.5s

        &:hover
            color: $green

.features
    margin: 50px 20px

    &__secoundArticle
        margin-top: 50px

    &__box
        text-align: center
        margin: 40px 0px

    &__dots
        font-size: 50px
        color: $green

    &__button
        display: inline-block
        margin-top: 20px

    &__headingTwo
        position: relative
        margin-bottom: 40px

    &__headingTwo::before
        position: absolute
        content: ". . . . ."
        top: 90%
        font-size: 40px
        color: $green

    &__headingThree
        margin: 10px 0px
        transition: color 0.5s

        &:hover
            color: $green

    &__link
        text-decoration: none
        
.featuresSecound
    margin: 50px 20px

    &__firstArticle
        width: 100%
        margin-bottom: 40px
        
    &__image
        width: 100%

    &__headingTwo
        margin-bottom: 40px

@import "./_medium"
@import "./_large"
